.topnav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
  }
  
.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }


.search-section{
    text-align: center;
    margin-top: 20px; 
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff; /* Add a background color */
}

#searchTitle {
    font-family: 'Roboto', monospace;
    font-size: 25px;
    color: black;
}

#myInput{
    margin-top: 30px;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}

#list {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#list a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: black;
    text-align: left;
}

#list a:hover {
    background-color: #ddd;
}
.filterContainer{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content:space-evenly;
}
.class-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.class-card {
    width: 200px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}

.class-card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.class-card p {
    margin: 8px 0;
    font-size: 14px;
}