body {
  background-color: rgb(232, 232, 232);
}


.topnav {
    background-color: #333;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 50px;
    
  }

  .images img {
    width: 20%;
    height: 250px;
    object-fit: cover;
    margin: 20px;
    border-radius: 40px;
    opacity: 85%;
  }

  .title {
    font-family: 'Heebo', monospace;
    color: rgb(63, 26, 26);
    padding: 10px 80px;
    margin-top: -30px;
    font-size: 50px;
  }

  .text {
    font-family: 'Roboto', monospace;
    padding: 10px 80px;
    margin-top: -30px;
    font-size: 25px;
    width: 50%;
    color: black;
    line-height: 2;
  }

  .teacher {
    font-family: 'Heebo', monospace;
    color: black;
    padding: 10px 80px;
    font-size: 30px;
  }

  .bookingWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
  }
  
  .bookingSection {
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    height: 550px;
    width: 300px;
    border-radius: 30px;
    border: 3px solid black;
  }

  .dateBtn {
    border-radius: 30px;
    border: 2px solid black;
    background-color: rgb(210, 210, 210);
    color: black;
    height: 50px
  }

  .bookBtn {
    border-radius: 30px;
    border: 2px solid black;
    background-color: rgb(210, 210, 210);
    color: black;
    height: 50px;
  }

  .options {
    display: flex;
    flex-direction: column;
  }
  
  .options input[type="radio"] {
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: -10%
}

.buttonContainer button {
  margin-top: 40px;
}

.reviewsSectionTitle {
  font-family: 'Heebo', monospace;
  color: black;
  padding: 10px 80px;
  font-size: 30px;
}

.content {
  margin-top: -40px;
  margin-left: 80px;
  border-radius: 15px;
  width: 40%;
  height: 105px;
}

.reviewTitle {
  font-family: 'Heebo', monospace;
  color: black;
  padding: 10px 80px;
  font-size: 30px;
}


.submitReviewSection{
  background-color: rgb(206, 162, 162);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;

}


#review-form{
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: black;
  width: 80%; 
  margin: auto; 
  flex-direction: column;
  align-items: center; 
}

#submitReviewBtn {
  border-radius: 10px;
  border: 3px solid black;
  background-color: rgb(210, 210, 210);
  color: black;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
  width: 50%;

}


.review-container {
  gap: 80px;
  width: 100%;
  margin-bottom: 15px;
}

.review {
    font-family: 'Roboto', monospace;
    font-size: 15px;
    width: 8%;
    color: black;
    margin-bottom: 20px;
    word-wrap: break-word;
    padding-left: 80px;
    scroll-snap-align: start;
}

.submitReviewTitle {
  font-family: 'Heebo', monospace;
  color: black;
  padding: 10px 80px;
  font-size: 20px;
  margin-top: 50px;
  margin-left: -80px;
}

.slider-container {
  display: flex;
  width: 80%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.submitReviewSection {
  padding-top: 30px;
  margin-left: 80px;
}
 
#date_and_time {
  display: none;
}

#date_and_time.show {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dateBtn {
  cursor: pointer;
}

.bookBtn {
  cursor: pointer;
}
