body {
  background-color: rgb(232, 232, 232);
}


.topnav {
    background-color: #333;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 50px;
    
  }

  .images img {
    width: 20%;
    height: 250px;
    object-fit: cover;
    margin: 20px;
    border-radius: 40px;
    opacity: 85%;
  }

  .title {
    font-family: 'Heebo', monospace;
    color: rgb(63, 26, 26);
    padding: 10px 80px;
    margin-top: -30px;
    font-size: 50px;
  }

  .text {
    font-family: 'Roboto', monospace;
    padding: 10px 80px;
    margin-top: -30px;
    font-size: 25px;
    width: 50%;
    color: black;
    line-height: 2;
  }

  .teacher {
    font-family: 'Heebo', monospace;
    color: black;
    padding: 10px 80px;
    font-size: 30px;
  }

  .bookingWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 150px;
  }
  
  .bookingSection {
    padding: 20px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 300px;
    height: 550px;
    width: 300px;
    border-radius: 30px;
    border: 3px solid black;
  }

  .dateBtn {
    border-radius: 30px;
    border: 2px solid black;
    background-color: rgb(210, 210, 210);
    color: black;
    height: 50px
  }

  .bookBtn {
    border-radius: 30px;
    border: 2px solid black;
    background-color: rgb(210, 210, 210);
    color: black;
    height: 50px;
  }

  .options {
    display: flex;
    flex-direction: column;
  }
  
  .options input[type="radio"] {
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: -10%
}

.buttonContainer button {
  margin-top: 40px;
}

.reviewsSectionTitle {
  font-family: 'Heebo', monospace;
  color: black;
  padding: 10px 80px;
  font-size: 30px;
}

.content {
  margin-top: -40px;
  margin-left: 80px;
  border-radius: 15px;
  width: 40%;
  height: 105px;
}

.reviewTitle {
  font-family: 'Heebo', monospace;
  color: black;
  padding: 10px 80px;
  font-size: 30px;
}


.submitReviewSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;

}


#review-form{
  display: flex;
  height: 100%;
  justify-content: center;
  width: 80%; 
  margin: auto; 
  flex-direction: column;
  align-items: center; 
}

#submitReviewBtn {
  background-color: bisque;
  border-radius: 10px;
  border: 3px solid black;
  background-color: rgb(210, 210, 210);
  color: black;
  height: 40px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 20%;

}


.review-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  gap: 20px;
  padding: 20px;
}
.slider-container {
  overflow-x: auto;
}
.review {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Roboto', monospace;
  font-size: 15px;
  width: calc(33.33% - 20px);
  width: 30%; 
  background-color: #f0f0f0;
  color: rgb(10, 9, 9);
  margin-bottom: 20px;
  word-wrap: break-word;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.review:hover {
  transform: scale(1.05); /* Enlarge the review on hover */
}

.submitReviewTitle {
  font-family: 'Heebo', monospace;
  color: black;
  padding: 10px 80px;
  font-size: 20px;
  margin-top: 20px;
}

#content{
  height: 100px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #ccc;
}


textarea {
  width: 50%;
  height: 100%;
  padding: 10px; 
  box-sizing: border-box; 
  border: none;
  outline: none; 
  resize: none;
}

.submitReviewSection {
  padding-top: 30px;
  margin-left: 80px;
}
 
#date_and_time {
  display: none;
}

#date_and_time.show {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

.dateBtn {
  cursor: pointer;
}

.bookBtn {
  cursor: pointer;
}
